<div class="parent-container">
  <div class="container">
    <br />

    <h1><b>Addition of two numbers</b></h1>
    <input
      type="text"
      [(ngModel)]="firstNumber"
      placeholder="Enter 1st number"
    />
    <br />
    
    <input
      type="text"
      [(ngModel)]="secondNumber"
      placeholder="Enter 2nd number"
    />
    <br />
    
    <button (click)="AddNumber()">Add numbers</button>

    <div class="result">
        <p><b>Addition = {{result}}</b><p>
    </div>
       
   </div>
    
</div>
