
.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
  }


  
.container {
    padding: 20px; 
    width: 300px; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    border: 3px solid blueviolet;
  }